body {
    color: #666;
}

address,
dl,
hr,
ul,
ol,
p,
section,
pre,
table {
    margin-top: 0;
    margin-bottom: 1.75em;
}

h1,
h2,
h3,
p,
div {
    white-space: normal;
    word-wrap: break-word;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    position: relative;
    margin-bottom: 1em;
}

section > h2 {
    padding-top: 84px;
}
section > h2:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 170px;
    height: 1px;
    margin-top: 28px;
    margin-left: -85px;
    content: ' ';
    background-color: #e4e4e4;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 4px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

pre {
    margin-top: 0;
    padding: 0;
    word-wrap: normal;
}

.header {
    margin-bottom: 36px;
    padding: 15% 0;
    text-align: center;
    background-image: url('assets/img/10556.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.header_title,
.header_content {
    color: #fff;
}

.footer {
    margin-top: 36px;
    border-top: solid 3px #feeeed;
    background-color: #1c222a;
}
.footer_copyright {
    font-size: 12px;
    line-height: 2.08333;
    margin: 0;
    padding: 16px 0;
    text-align: center;
}

.socialSharedCount_list {
    font-size: 14px;
    line-height: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #666;
}
.socialSharedCount_list_items {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}
.socialSharedCount_list_items:last-child {
    margin-right: 0;
}
.socialSharedCount_list_items_anchor,
.socialSharedCount_list_items_name,
.socialSharedCount_list_items_count {
    line-height: 20px;
    height: 21px;
}
.socialSharedCount_list_items_anchor {
    position: relative;
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}
.socialSharedCount_list_items_anchor:hover {
    opacity: .8;
    color: #666;
}
.socialSharedCount_list_items_name {
    display: inline-block;
    float: left;
    padding: 0 12px 0 8px;
    letter-spacing: .1em;
    color: #fff;
    border: solid 1px #767676;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: #767676;
}
.socialSharedCount_list_items_count {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0 8px;
    border: solid 1px #767676;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
}
.socialSharedCount_list_items_count:before,
.socialSharedCount_list_items_count:after {
    position: absolute;
    top: 3px;
    left: -12px;
    content: '';
    border: solid 6px transparent;
    border-right: solid 8px #fff;
}
.socialSharedCount_list_items_count:after {
    top: 3px;
    left: -12px;
    border-right: solid 8px #fff;
}
.socialSharedCount_list_items-facebook .socialSharedCount_list_items_name {
    border-color: #3b5998;
    background-color: #3b5998;
}
.socialSharedCount_list_items-facebook .vasc--count {
    border-color: #3b5998;
}
.socialSharedCount_list_items-twitter .socialSharedCount_list_items_name {
    border-color: #55acee;
    background-color: #55acee;
}
.socialSharedCount_list_items-twitter .socialSharedCount_list_items_count {
    border-color: #55acee;
}
.socialSharedCount_list_items-google .socialSharedCount_list_items_name {
    border-color: #dd4b39;
    background-color: #dd4b39;
}
.socialSharedCount_list_items-google .socialSharedCount_list_items_count {
    border-color: #dd4b39;
}
.socialSharedCount_list_items-hatena .socialSharedCount_list_items_name {
    border-color: #2c6ebd;
    background-color: #2c6ebd;
}
.socialSharedCount_list_items-hatena .socialSharedCount_list_items_count {
    border-color: #2c6ebd;
}
.socialSharedCount_list_items-linkedin .socialSharedCount_list_items_name {
    border-color: #0077b5;
    background-color: #0077b5;
}
.socialSharedCount_list_items-linkedin .socialSharedCount_list_items_count {
    border-color: #0077b5;
}
.socialSharedCount_list_items-pocket .socialSharedCount_list_items_name {
    border-color: #d3505a;
    background-color: #d3505a;
}
.socialSharedCount_list_items-pocket .socialSharedCount_list_items_count {
    border-color: #d3505a;
}
@media only screen and (max-width: 768px) {

    .socialSharedCount_list {
        font-size: 12px;
    }

    .socialSharedCount_list_items {
        width: 20%;
        margin-right: 0;
    }

    .socialSharedCount_list_items_anchor {
        line-height: normal;
        height: 42px;
    }

    .socialSharedCount_list_items_name,
    .socialSharedCount_list_items_count {
        line-height: normal;
        height: auto;
    }

    .socialSharedCount_list_items_name {
        border-radius: 0;
    }

    .socialSharedCount_list_items_name {
        float: none;
    }

    .socialSharedCount_list_items_name {
        letter-spacing: 0;
    }

    .socialSharedCount_list_items_name {
        padding: 2px 0 0;
    }

    .socialSharedCount_list_items_name {
        width: 100%;
        text-align: center;
    }

    .socialSharedCount_list_items_count {
        border-radius: 0;
    }

    .socialSharedCount_list_items_count {
        float: none;
    }

    .socialSharedCount_list_items_count {
        padding: 2px 0 0;
    }

    .socialSharedCount_list_items_count {
        width: 100%;
        text-align: center;
    }

    .socialSharedCount_list_items_count:before,
    .socialSharedCount_list_items_count:after {
        content: none;
    }

    .socialSharedCount_list_items-pocket {
        display: none;
    }
}
